extends layout

block content
	h1= title
	p Welcome to Wonders
		#fb-root
		script.
(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1391236504538178";
   fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
		
		script(src='http://connect.facebook.net/en_US/all.js')
		script(type='text/javascript').
			FB.init({ appId:'1391236504538178' });
			FB.getLoginStatus(handleSessionResponse);
			var login = function() {
			FB.login(handleSessionResponse);
			};
			var logout = function() {
			FB.logout(handleSessionResponse);
			};
			function handleSessionResponse() {
			FB.api('/me', function(response) {
			console.log(response);
			$('#user-info').html(response.id + ' - ' + response.name);
			});
			}
	button#login Login
	 .fb-login-button(data-max-rows='1', data-size='medium', data-show-faces='false', data-auto-logout-link='true')